body {
    background: #f5f5f5;
}

.img_head {
    position: absolute;
    top: 16%;
    height: 65%;
    width: 100%;
    left: 0px;
    background: blue;
    background-position: center;
    background-size: contain;
}

.img_head .image{
    background-position: center;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
}

.img_head .search {
    position: absolute;
    bottom: 5%;
    width: 30%;
    height: 13%;
    background-color: darkgreen;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 35%;
    border: 1px solid #ccc!important;
    border-radius: 10px;
}

.img_head .search .input_text {
    left: 7%;
    width: 50%;
    position: absolute;
    height: 50%;
    top: 23%;
    border-radius: 5px;
}

.img_head .search .button {
    background-color: #f40a0a;
    opacity: 1;
    left: 65%;
    width: 30%;
    position: absolute;
    font-size: 17px;
    height: 60%;
    top: 23%;
    color: white;
    border-radius: 5px;

}

.menu {
    position: absolute;
    top: 81%;
    width: 100%;
    height: 9%;
    background-color:rgb(12, 83, 12);
}

.menu .menu1 {
    position: absolute;
    width: 14%;
    height: 100%;
    margin-left: 0%;
    background-color: green;
}

.menu .menu2 {
    position: absolute;
    width: 14.2%;
    height: 100%;
    margin-left: 14.1%;
    background-color: green;
}

.menu .menu3 {
    position: absolute;
    width: 14.4%;
    height: 100%;
    margin-left: 28.4%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.menu .menu3:hover {
    color: red;
}

.menu .menu4 {
    position: absolute;
    width: 14.4%;
    height: 100%;
    margin-left: 42.9%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.menu .menu4:hover {
    color: red;
}

.menu .menu5 {
    position: absolute;
    width: 14.4%;
    height: 100%;
    margin-left: 57.4%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.menu .menu5:hover {
    color: red;
}

.menu .menu6 {
    position: absolute;
    width: 14%;
    height: 100%;
    margin-left:71.9%;
    background-color: green;
}

.menu .menu7 {
    position: absolute;
    width: 14%;
    height: 100%;
    margin-left: 86%;
    background-color: green;
}




.content_left {
    top: 90%;
    width: 15%;
    height: 50%;
    margin-left: 0%;
    position: absolute;
    background-color: lightsteelblue;
}

.content_right {
    top: 90%;
    height: 50%;
    position: absolute;
    margin-left: 85%;
    width: 15%;
    background-color: lightsteelblue;
}



.content {
    top: 90%;
    width: 76%;
    position: absolute;
    left: 12%;
    right: 12%;
}

.content .intro {
    height: 5em;
    font-weight: bold;
    color: #003e71;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    text-align: center;
}

.content .row1 {
    margin-top: 5%;
    width: 100%;
    position: relative;

}

.content .row1 .tours {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.content .row1 .tours .col1{
    border-radius: 5px;
    width: 30%;
    height: 35em;
    border: none;
    box-shadow: 1px 1px 5px 0 #999;
    margin: 10px;
    position: relative;
    background: #fff;
}

.content .row1 .tours .col1 .image {
    width: 100%;
    height: 50%;
    background-size: contain;
    background-position: center;
    background-color: #f40a0a;
    position: absolute;
}

.content .row1 .tours .col1 .title {
    width: 90%;
    height: 20%;
    color: rgb(3, 3, 61);
    font-size: 20px;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 52%;
}

.content .row1 .tours .col1 .mota{
    position: relative;
    width: 90%;
    height: 20%;
    font-size: 20px;
    top: 64%;
    color: #003e71;
}

.content .row1 .tours .col1 .mota li {
    padding-top: 1em;
}

.content .row1 .tours .col1 .bot1 {
    width: 100%;
    height: 10%;
    position: absolute;
    background: rgb(240, 240, 240);
    top: 90%;
}

.content .row1 .tours .col1 .logo {
    width: 5%;
    height: 20%;
    background-size: contain;
    background-position: center;
    margin-left: 5%;
    top: 40%;
    position: absolute;
}

.content .row1 .tours .col1 .bot1 .price {
    width: 65%;
    margin-left: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    color: red;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.content .row1 .tours .col1 .bot1 .book {
    width: 35%;
    height: 100%;
    margin-left: 65%;
    top: 0%;
    background: rgb(255, 217, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
}

.content .row1 .tours .col1 .bot1 .book:hover {
    color: black;
    background:rgb(226, 226, 13)
}

.content .row1 .button {
    background-color: rgb(6, 66, 6);
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    top: 2em;
    margin-left: 40%;
    position: relative;
}

.content .row-2 {
    width: 100%;
    top: 7em;
    position: relative;
    background:#fff;
    text-align: center;
}

.content .row-2 .heading {
    
    color: #003e71;
    height: 3em;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    top: -1em;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content .row-2 .images {
    width: 100%;
    height: 40em;
    position: relative;
}

.content .row-2 .images .img1 {
    width: 62%;
    height: 70%;
    position: relative;
    border: none;
    box-shadow: 1px 1px 5px 0 #999;
}

.content .row-2 .images .img1 .anh{
    background-position: center;
    background-size: contain;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.content .row-2 .images .img1 .title {
    background: #003e71;
    color: #fff;
    height: 2em;
    position: absolute;
    width: 8em;
    top: 27em;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .row-2 .images .img1 .title:hover {
    color: #ffc10e;
}


.content .row-2 .images .img2 {
    width: 35%;
    height: 35%;
    position: relative;
    top: -70%;
    left: 65%;
    border: none;
    box-shadow: 1px 1px 5px 0 #999;
}

.content .row-2 .images .img2 .anh{
    background-position: center;
    background-size: contain;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.content .row-2 .images .img2 .title {
    background: #003e71;
    color: #fff;
    height: 2em;
    position: absolute;
    width: 8em;
    top: 12em;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .row-2 .images .img2 .title:hover {
    color: #ffc10e;
}



.content .row-2 .images .img3 {
    width: 35%;
    height: 34%;
    position: relative;
    top: -69%;
    left: 65%;
    border: none;
    box-shadow: 1px 1px 5px 0 #999;
}

.content .row-2 .images .img3 .anh{
    background-position: center;
    background-size: contain;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.content .row-2 .images .img3 .title {
    background: #003e71;
    color: #fff;
    height: 2em;
    position: absolute;
    width: 8em;
    top: 12em;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .row-2 .images .img3 .title:hover {
    color: #ffc10e;
}



.content .row-2 .images .img4 {
    width: 19%;
    height: 27%;
    position: relative;
    top: -66%;
    border: none;
    box-shadow: 1px 1px 5px 0 #999;
}

.content .row-2 .images .img4 .anh{
    background-position: center;
    background-size: contain;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.content .row-2 .images .img4 .title {
    background: #003e71;
    color: #fff;
    height: 2em;
    position: absolute;
    width: 8em;
    top: 9em;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .row-2 .images .img4 .title:hover {
    color: #ffc10e;
}


.content .row-2 .images .img5 {
    width: 20%;
    height: 27%;
    position: relative;
    top: -93%;
    left: 20%;
    border: none;
    box-shadow: 1px 1px 5px 0 #999;
}

.content .row-2 .images .img5 .anh{
    background-position: center;
    background-size: contain;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.content .row-2 .images .img5 .title {
    background: #003e71;
    color: #fff;
    height: 2em;
    position: absolute;
    width: 8em;
    top: 9em;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .row-2 .images .img5 .title:hover {
    color: #ffc10e;
}




.content .row-2 .images .img6 {
    width: 20%;
    height: 27%;
    position: relative;
    top: -120%;
    left: 41%;
    border: none;
    box-shadow: 1px 1px 5px 0 #999;
}

.content .row-2 .images .img6 .anh{
    background-position: center;
    background-size: contain;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.content .row-2 .images .img6 .title {
    background: #003e71;
    color: #fff;
    height: 2em;
    position: absolute;
    width: 8em;
    top: 9em;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .row-2 .images .img6 .title:hover {
    color: #ffc10e;
}


.content .row-2 .images .img7 {
    width: 19%;
    height: 27%;
    position: relative;
    top: -147%;
    left: 62%;
    border: none;
    box-shadow: 1px 1px 5px 0 #999;
}

.content .row-2 .images .img7 .anh{
    background-position: center;
    background-size: contain;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.content .row-2 .images .img7 .title {
    background: #003e71;
    color: #fff;
    height: 2em;
    position: absolute;
    width: 8em;
    top: 9em;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .row-2 .images .img7 .title:hover {
    color: #ffc10e;
}


.content .row-2 .images .img8 {
    width: 18%;
    height: 27%;
    position: relative;
    top: -174%;
    left: 82%;
    border: none;
    box-shadow: 1px 1px 5px 0 #999;
}

.content .row-2 .images .img8 .anh{
    background-position: center;
    background-size: contain;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.content .row-2 .images .img8 .title {
    background: #003e71;
    color: #fff;
    height: 2em;
    position: absolute;
    width: 8em;
    top: 9em;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .row-2 .images .img8 .title:hover {
    color: #ffc10e;
}


.content .row-3 {
    width: 100%;
    top: 15em;
    position: relative;
    text-align: center;
}

.content .row-3 .heading {
    
    color: #003e71;
    height: 3em;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content .row-3 .images {
    width: 100%;
    background: #ffff;
    position: relative;
}

.content .row-3 .images .img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.content .row-3 .images .img .anh {
    width: 30%;
    height: 15em;
    background: chocolate;
    position: relative;
    border: none;
    box-shadow: 1px 1px 5px 0 #999;
    border-radius: 8px;
    margin-left: 2em;
    margin-bottom: 1.5em;

}

.content .row-3 .button {
    height: 4em;
    width: 15%;
    top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    margin-left: 45%;
    background: darkgreen;
    position: relative;
    border: none;
    box-shadow: 1px 1px 5px 0 #999;
    border-radius: 8px;
}


.content .footer {
    background: rgb(5, 66, 5);
    width: 100%;
    height: 15em;
    position: relative;
    top: 29em;
}


@media screen and (max-width:500px) {

    .img_head {
        position: absolute;
        top: 16%;
        height: 65%;
        width: 100%;
        background: blue;
        background-position: center;
        background-size: contain;
    }
    
    .img_head .image{
        background-position: center;
        background-size: contain;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .img_head .search {
        position: absolute;
        bottom: 5%;
        width: 30%;
        height: 13%;
        background-color: darkgreen;
        opacity: 0.7;
        display: flex;
        align-items: center;
        justify-items: center;
        margin-left: 35%;
        border: 1px solid #ccc!important;
        border-radius: 10px;
    }
    
    .img_head .search .input_text {
        left: 7%;
        width: 50%;
        position: absolute;
        height: 50%;
        top: 23%;
        border-radius: 5px;
    }
    
    .img_head .search .button {
        background-color: #f40a0a;
        opacity: 1;
        left: 65%;
        width: 30%;
        position: absolute;
        font-size: 17px;
        height: 60%;
        top: 23%;
        color: white;
        border-radius: 5px;
    
    }

    .img_head .search .button:hover{
        color: darkgreen;
        background: darkred;
    }
    
    .menu {
        position: absolute;
        top: 81%;
        width: 100%;
        height: 9%;
        background-color:rgb(12, 83, 12);
    }
    
    .menu .menu1 {
        position: absolute;
        width: 14%;
        height: 100%;
        margin-left: 0%;
        background-color: green;
    }
    
    .menu .menu2 {
        position: absolute;
        width: 14.2%;
        height: 100%;
        margin-left: 14.1%;
        background-color: green;
    }
    
    .menu .menu3 {
        position: absolute;
        width: 14.4%;
        height: 100%;
        margin-left: 28.4%;
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 150%;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: center;
    }
    
    .menu .menu3:hover {
        color: red;
    }
    
    .menu .menu4 {
        position: absolute;
        width: 14.4%;
        height: 100%;
        margin-left: 42.9%;
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 150%;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: center;
    }
    
    .menu .menu4:hover {
        color: red;
    }
    
    .menu .menu5 {
        position: absolute;
        width: 14.4%;
        height: 100%;
        margin-left: 57.4%;
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 150%;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: center;
    }
    
    .menu .menu5:hover {
        color: red;
    }
    
    .menu .menu6 {
        position: absolute;
        width: 14%;
        height: 100%;
        margin-left:71.9%;
        background-color: green;
    }
    
    .menu .menu7 {
        position: absolute;
        width: 14%;
        height: 100%;
        margin-left: 86%;
        background-color: green;
    }
    
    
    
    
    .content_left {
        top: 90%;
        width: 15%;
        height: 50%;
        margin-left: 0%;
        position: absolute;
        background-color: lightsteelblue;
    }
    
    .content_right {
        top: 90%;
        height: 50%;
        position: absolute;
        margin-left: 85%;
        width: 15%;
        background-color: lightsteelblue;
    }
    
    .intro {
        height: 10%;
        font-weight: bold;
        color: darkblue;
        width: 100%;
        top: 90%;
        font-family: 'Courier New', Courier, monospace;
        position: absolute;
        text-align: center;
    }
    
    .content {
        top: 100%;
        width: 76%;
        height: 200%;
        position: absolute;
        margin-left: 12%;
        margin-right: 12%;
    
    }
    
    .content .row1 {
        margin-top: 5%;
        height: 35%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    
    }

    .content .row1 .tours {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .content .row1 .tours .col1{
        border-radius: 5px;
        width: 30%;
        height: 100%;
        margin: 10px;
        position: relative;
        box-shadow: 1px 1px 5px 0 #999;
    }
    
    .content .row1 .tours .col1 .image {
        width: 100%;
        height: 50%;
        background-size: contain;
        background-position: center;
        background-color: #f40a0a;
        position: absolute;
    }
    
    .content .row1 .tours .col1 .title {
        width: 90%;
        height: 20%;
        color: rgb(3, 3, 61);
        font-size: 20px;
        margin-left: 5%;
        font-family: Arial, Helvetica, sans-serif;
        text-overflow: ellipsis;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 52%;
    }
    
    
    
    .content .row1 .tours .col1 .bot1 {
        width: 100%;
        height: 10%;
        position: absolute;
        background: rgb(240, 240, 240);
        top: 90%;
    }
    
    .content .row1 .tours .col1 .logo {
        width: 5%;
        height: 20%;
        background-size: contain;
        background-position: center;
        margin-left: 5%;
        top: 40%;
        position: absolute;
    }
    
    .content .row1 .tours .col1 .bot1 .price {
        width: 65%;
        margin-left: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        color: red;
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .content .row1 .tours .col1 .bot1 .book {
        width: 35%;
        height: 100%;
        margin-left: 65%;
        top: 0%;
        background: rgb(255, 217, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
    }
    
    .content .row1 .tours .col1 .bot1 .book:hover {
        color: black;
        background:rgb(226, 226, 13)
    }
    
    .content .row1 .button {
        background-color: rgb(6, 66, 6);
        color: #fff;
        font-size: 25px;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
    }


}