body{
    margin: 0px;
}
.login_form {
    width: 50%;
    height: calc(100vh - 142px);
    margin: 40px auto;
    border: 1px solid blueviolet;
    border-radius: 5px;
    background-color: white;

}

.login_form form{
    margin: 8px;
}

.login_form form .title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 16px;

}

.login_form form input {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    outline: none;
    height : 36px;
    margin : 4px;
    width : calc(100% - 16px);
    box-sizing: border-box;
}

.login_form form div {
    padding: 4px;
}

.login_form form .btn{
    margin-top: 24px; 
    background-color: blueviolet;
    color: white;
    font-size: 16px;
}

.header{
    width: 100%;
    height: 60px;
    background-color: green;
    display: flex;
    align-items: center;
    color: white;
}

.header div {
    font-weight: 600;
    font-size: 24px;
    margin-left: 16px;
}

.content {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
}

.content_left {
    padding-top: 16px;
    width: 15%;
    height: 100%;
    border-right: 1px solid #bbbbbb;
}
.menu_item {
    display: flex;
    height: 44px;
    align-items: center;
    margin:auto;    
    border-bottom: 1px solid #bbbbbb;
    border-radius: 5px;
    padding-left: 12px;

}

.menu_item .menu_icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.user_icon {
    background-image: url("../img/icon_user.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.tour_icon{
    background-image: url("../img/icon_tour.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.booking-icon {
    background-image: url("../img/icon_ticket.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu_item a {
    flex: 2;
    text-decoration: none;
    color: #000000;
}

.menu_item:hover {
    background-color: #bbbbbb;
    color: white;
}

.content_right {
    width: calc(85% - 1px);
    height: 100%;
}

.content_right .title {
    font-weight: bold;
    font-size: 24px;
    padding-left: 16px;
    padding-top: 4px;
    height: 40px;
}

.content_main {
    width: 100%;
    height: calc(100vh - 104px);
    overflow-y: scroll;
}

.grid table {
    width: calc(100% - 16px);
    border-collapse: collapse;
    margin: 8px;
}

.content_main table th, td {
    border-bottom: 1px solid #bbbbbb;
    padding: 5px;
    text-align: left;
    height: 40px;
    overflow : hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-save {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    float: right;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    outline: none;
}
